<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://github.com/aaronchiang/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      xmlns:schemaLocation="https://github.com/aaronchiang/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd NLog.RabbitMQ.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" throwConfigExceptions="true" internalLogFile="C:/logs/nlog.log" internalLogLevel="Error" >
  <extensions>
    <add assembly="Nlog.RabbitMQ.Target" />
  </extensions>
  <targets async="true">
    <target name="Rabbit" xsi:type="RabbitMQ"
            hostname="192.168.2.4" username="test" password="test"
            exchange="uCloud-Logging" useJson="true"
            vhost="/" port="5672" durable="true" maxBuffer="10240"
            topic="uCloud.Backend.Logging.{0}"
            appid="Bps.uCloud.Backend" heartBeatSeconds="3" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Rabbit"/>
  </rules>
</nlog>